::ng-deep {
    .add-category-btn {
        .p-button {
            width: 6rem; //your font size here
            @apply flex justify-center;
        }
    }

    .p-inputtext {
        font-size: 1.2rem;
        text-align: center;
    }
}
