<section class="w-full px-2">
    <div class="w-full flex justify-end">
        <div>
            <p-button (onClick)="syncStock()" class="add-category-btn"><i class="pi pi-sync px-2" style="font-size: 1.4rem"></i></p-button>
        </div>
    </div>

    <div class="card mt-2">
        <p-table
            *ngIf="!loading"
            [value]="stock"
            [paginator]="true"
            [rows]="10"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '30rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50, 100]"
            sortMode="multiple"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" style="width: 25%">Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="count" style="width: 25%">Stock <p-sortIcon field="stock"></p-sortIcon></th>
                    <th style="width: 5%"></th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{ product.name }}</td>
                    <td class="text-lg">
                        <p-inputNumber
                            [(ngModel)]="product.count"
                            [showButtons]="false"
                            buttonLayout="horizontal"
                            [step]="1"
                            decrementButtonClass="p-button-danger"
                            incrementButtonClass="p-button-success"
                            incrementButtonIcon="pi pi-plus"
                            decrementButtonIcon="pi pi-minus"
                            [min]="0"
                        ></p-inputNumber>

                        {{ product.quantity_type }}
                    </td>

                    <td>
                        <p-button (onClick)="makePurchase(product)" class="add-purchase-btn"
                            ><i class="pi pi-cart-plus" style="font-size: 1.5rem"></i
                        ></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div *ngIf="loading" class="flex justify-center">
            <p-progressSpinner strokeWidth="5" animationDuration="1s"></p-progressSpinner>
        </div>
    </div>
</section>
