<section class="w-full py-2 space-y-5" [formGroup]="businessForm">
    <div class="w-full flex items-center justify-between space-x-5">
        <div class="w-1/2">
            <label for="productName" class="font-bold block mb-2 ml-1"> Business Name(*)</label>
            <input
                pInputText
                id="productName"
                pKeyFilter="alphanum"
                class="w-full"
                [placeholder]="'Enter the Business Name'"
                formControlName="name"
            />
        </div>

        <div class="w-1/2">
            <label for="businessType" class="font-bold block mb-2 ml-1"> Business Type(*) </label>
            <input
                pInputText
                id="businessType"
                pKeyFilter="alphanum"
                class="w-full"
                [placeholder]="'Enter the Business Type e.g, Garments, Accessories, Books, etc.'"
                formControlName="type_of_business"
            />
        </div>
    </div>

    <div class="w-full">
        <label for="businessAddress" class="font-bold block mb-2 ml-1"> Business Address(*) </label>
        <input
            pInputText
            id="businessAddress"
            pKeyFilter="alphanum"
            class="w-full"
            [placeholder]="'Enter the Business Type e.g, Garments, Accessories'"
            formControlName="address"
        />
    </div>

    <div class="w-full">
        <label for="ProductDescription" class="font-bold block mb-2 ml-1"> Business Description </label>
        <textarea class="w-full" id="ProductDescription" rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
    </div>

    <div class="w-full flex justify-end">
        <p-button
            (onClick)="createBusiness()"
            *ngIf="!config.data"
            label="Create"
            icon="pi pi-check"
            [raised]="true"
            [rounded]="true"
        ></p-button>

        <p-button
            (onClick)="updateBusiness()"
            *ngIf="config.data"
            label="Update"
            icon="pi pi-check"
            [raised]="true"
            [rounded]="true"
        ></p-button>
    </div>
</section>
