<section class="w-full px-2">
    <div class="w-full flex justify-end">
        <!-- <div class="text-2xl font-semibold">All Cateogries</div> -->
        <div><p-button (onClick)="openNewOperationCategoriesDialog()" class="add-category-btn" icon="pi pi-plus"></p-button></div>
    </div>

    <div class="card mt-5">
        <p-table
            [value]="operationCategories"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '30rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
            sortMode="multiple"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" style="width: 80%; text-align: center">Name <p-sortIcon field="name"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td style="text-align: center">{{ product.name }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>
