<section class="w-full py-2 space-y-5" [formGroup]="productForm" *ngIf="!loading">
    <div class="w-full flex items-center justify-between space-x-5">
        <div class="w-1/2">
            <label for="productName" class="font-bold block mb-2 ml-1"> Product Name(*) </label>
            <input
                pInputText
                id="productName"
                pKeyFilter="alphanum"
                class="w-full"
                [placeholder]="'Enter the Product Name'"
                formControlName="name"
            />
        </div>

        <div class="w-1/2">
            <label for="quantityType" class="font-bold block mb-2 ml-1"> Quantity Type(*) </label>
            <p-dropdown
                id="quantityType"
                [options]="quantity_types"
                optionLabel="name"
                formControlName="quantity_type"
                [autoDisplayFirst]="false"
                [placeholder]="'Select a Quantity Type'"
            ></p-dropdown>
        </div>
    </div>

    <div class="w-full flex items-center justify-between space-x-5">
        <div class="w-1/2">
            <label for="Price" class="font-bold block mb-2 ml-1"> Price </label>
            <input
                pInputText
                id="Price"
                pKeyFilter="alphanum"
                class="w-full"
                [placeholder]="'Enter the Price'"
                formControlName="price_amount"
            />
        </div>

        <div class="w-1/2">
            <label for="PriceUnit" class="font-bold block mb-2 ml-1"> Price Unit(*) </label>
            <p-dropdown
                id="PriceUnit"
                [options]="price_units"
                optionLabel="name"
                formControlName="price_unit"
                [autoDisplayFirst]="false"
                [placeholder]="'Select a Price Unit'"
            ></p-dropdown>
        </div>
    </div>

    <div class="w-full flex items-center justify-between space-x-5">
        <div class="w-1/2">
            <label for="category" class="font-bold block mb-2 ml-1"> Category </label>
            <p-dropdown
                id="category"
                [options]="categories"
                optionLabel="name"
                formControlName="category"
                [autoDisplayFirst]="false"
                [placeholder]="'Select a Price Category'"
            ></p-dropdown>
        </div>

        <div class="w-1/2" *ngIf="productForm.value.category">
            <label for="subcategory" class="font-bold block mb-2 ml-1"> Subcategory </label>
            <p-dropdown
                id="subcategory"
                [options]="productForm.value.category['SUB_CATEGORIES']"
                optionLabel="name"
                formControlName="subcategory"
                [autoDisplayFirst]="false"
                [placeholder]="'Select a Subcategory'"
            ></p-dropdown>
        </div>
    </div>

    <div class="w-full flex justify-between space-x-5">
        <div class="w-1/2">
            <label for="ProductDescription" class="font-bold block mb-2 ml-1"> Product Description </label>
            <textarea class="w-full" id="ProductDescription" rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
        </div>

        <div class="w-1/2 flex flex-col items-end justify-between">
            <div class="w-full flex items-center justify-between px-2 space-x-4 mt-5">
                <label for="enableOperation" class="font-bold block mb-1 ml-1"> Enable Operation </label>
                <p-inputSwitch id="enableOperation" formControlName="enable_operation"></p-inputSwitch>
            </div>

            <p-button (onClick)="createProduct()" *ngIf="!config.data" label="Create" icon="pi pi-check" [raised]="true" [rounded]="true">
            </p-button>

            <div class="space-x-2">
                <p-button
                    (onClick)="updateProduct()"
                    *ngIf="config.data"
                    label="Update"
                    icon="pi pi-check"
                    [raised]="true"
                    [rounded]="true"
                    severity="warning"
                ></p-button>

                <p-button
                    (onClick)="deleteProduct($event)"
                    *ngIf="config.data"
                    label="Delete"
                    icon="pi pi-check"
                    [raised]="true"
                    [rounded]="true"
                    severity="danger"
                ></p-button>
            </div>
        </div>
    </div>
</section>

<p-confirmDialog></p-confirmDialog>
<div *ngIf="loading" class="flex justify-center">
    <p-progressSpinner strokeWidth="5" animationDuration="1s"></p-progressSpinner>
</div>
