<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="['']">
        <span>Inventory Manager</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <div class="w-1/2 text-center text-2xl font-semibold">{{ shopName }}</div>

    <div class="layout-topbar-menu">
        <p-menu #menu [model]="items" [popup]="true"> </p-menu>

        <button class="p-link layout-topbar-button" (click)="menu.toggle($event)">
            <i class="pi pi-user text-3xl"></i>
        </button>
    </div>
</div>
