<section class="h-screen flex flex-col">
    <div class="w-full grow flex justify-center items-center pt-8">
        <iframe src="https://giphy.com/embed/f89WNuW0RyapOiXZZm" class="w-80 h-80 rounded-3xl"></iframe>
    </div>

    <div class="w-full grow flex flex-col items-center justify-center py-5">
        <span class="w-2/3 text-center text-3xl font-medium">Sit tight while we wake up the server !</span>
        <span class="w-2/3 text-center text-2xl font-medium"
            >Server usually goes to sleep after 10 minutes of inactivity to save on resources.</span
        >
        <span class="w-2/3 text-center text-xl">Waking up server usually takes about a minute.</span>
    </div>
</section>
