<section class="w-full px-2">
    <div class="w-full flex justify-end">
        <div class="text-2xl font-semibold">####Use Tree Table component from PrimeNG</div>
        <div class=""><p-button class="add-category-btn" icon="pi pi-plus"></p-button></div>
    </div>

    <div class="card mt-5">
        <p-table [value]="categories" dataKey="name" [tableStyle]="{ 'min-width': '50rem' }" [styleClass]="'p-datatable-sm'">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 2rem"></th>
                    <th pSortableColumn="name" style="width: 15rem">Category <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-category let-expanded="expanded">
                <tr>
                    <td class="pr-0 py-0">
                        <button
                            type="button"
                            pButton
                            pRipple
                            [pRowToggler]="category"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                        ></button>
                    </td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-category>
                <tr>
                    <td class="py-0" colspan="5">
                        <div class="px-3">
                            <p-table [value]="category.subCategory" dataKey="name">
                                <ng-template pTemplate="header">
                                    <tr class="text-sm">
                                        <th style="width: 2.3rem"></th>
                                        <th pSortableColumn="name" style="width: 15rem">
                                            Sub-Category <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-subCategory>
                                    <tr class="text-sm">
                                        <td></td>
                                        <td>{{ subCategory.name }}</td>
                                        <td>{{ subCategory.description }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>
