<section class="w-full px-2">
    <div class="w-full flex justify-end">
        <div class=""><p-button (onClick)="openNewCategoryDialog()" class="add-category-btn" icon="pi pi-plus"></p-button></div>
    </div>

    <div class="card mt-5">
        <p-treeTable
            *ngIf="!loading"
            [value]="categories"
            [scrollable]="true"
            [tableStyle]="{ 'min-width': '30rem' }"
            sortMode="multiple"
            [paginator]="true"
            [rows]="10"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 18rem" [ttSortableColumn]="'name'">
                        Category <p-treeTableSortIcon [field]="'name'"></p-treeTableSortIcon>
                    </th>
                    <th [ttSortableColumn]="'description'">
                        Description <p-treeTableSortIcon [field]="'description'"></p-treeTableSortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr [ttRow]="rowNode">
                    <td style="width: 18rem">
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        {{ rowData.name }}
                    </td>
                    <td>{{ rowData.description }}</td>
                </tr>
            </ng-template>
        </p-treeTable>

        <div class="flex justify-center">
            <p-progressSpinner *ngIf="loading" strokeWidth="5" animationDuration="1s"></p-progressSpinner>
        </div>
    </div>
</section>
